.bg-painel{
    background-color:#f1f1f1;
}

.preco-produtos{
    margin: 10px;
    padding: 10px;
    font-weight: 700;
    /* font-size: 15pt; */
    border-radius: 20px;
    text-align: center;
    color: rgb(204, 107, 17);
}
.btn-float{
    position: absolute;
}